* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #ffffff;
}

.mn-5 {
  margin-right: 30px;
}

#head-deskopt .container-head {
  padding: 15px 0px;
  border-bottom: 1px solid #E5E5E5;
}

#head-deskopt .container-head .head-arize {
  height: 33px;
}

#head-deskopt .container-head .head-arize .refresh {
  font-weight: 1000;
  font-size: 24px;
  line-height: 31.2px;
  color: #59359f;
}

#head-deskopt .container-head .head-arize .logo img {
  width: 39px;
  height: 39px;
  border-radius: 4px;
  margin-left: calc(350px / 2 - 21.5px);
}

#head-deskopt .container-head .head-arize .socail-media ul.socail-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#head-deskopt .container-head .head-arize .socail-media ul.socail-logo li a {
  margin-right: 15px;
  color: #ffffff;
}

#head-deskopt .container-head .head-arize .socail-media ul.socail-logo li a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background: #59359F;
  color: #ffffff;
}

#navbar-deskopt {
  position: -webkit-sticky;
  position: sticky;
  z-index: 99;
  background: white;
  top: 0;
}

#navbar-deskopt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar-deskopt ul li {
  border-top: 3px solid transparent;
}

#navbar-deskopt ul li a {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  line-height: 23.4px;
}

#navbar-deskopt ul li a:hover {
  font-weight: 700;
}

#navbar-deskopt ul li a.active {
  color: black;
  font-weight: 700;
}

#navbar-deskopt ul li.active {
  border-top: 3px solid #59359F;
}

#navbar-deskopt .menu-bars {
  text-align: right;
  padding: 10px 0px;
}

#navbar-deskopt .menu-bars i {
  font-size: 25px;
  margin-right: 20px;
  color: #482f86;
}

#navbar-deskopt .responsive-nav {
  display: none;
  margin-left: 10px;
}

#navbar-deskopt .responsive-nav .mn-5 {
  margin-right: 20px;
}

#navbar-deskopt .responsive-nav li {
  border-radius: 2px;
}

#navbar-deskopt .responsive-nav li a {
  margin-left: 5px;
}

#navbar-deskopt .responsive-nav li:hover {
  background-color: #482f86;
}

#navbar-deskopt .responsive-nav li:hover a {
  color: #FFFFFF;
  font-weight: 600;
}

#last-info {
  padding: 22px 0px 35px 0px;
}

#last-info .container p {
  display: inline;
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}

#last-info .container .last-info-area {
  overflow: hidden;
}

#last-info .container .last-info-area .big-img {
  width: 100%;
  height: auto;
}

#last-info .container .last-info-area .little-img {
  width: 100%;
  height: auto;
  position: relative;
}

#last-info .container .last-info-area .little-img .last-info-little-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#last-info .container .last-info-area .little-img .last-info-little-text .head-text {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 290px;
  word-wrap: break-word;
  margin-bottom: 8px;
}

#last-info .container .last-info-area .little-img .last-info-little-text .head-text a {
  color: #FFFFFF;
}

#last-info .container .last-info-area .little-img .last-info-little-text .write-info {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
}

#last-info .container .last-info-area .little-img .last-info-little-text .write-info:hover {
  color: #ffffff;
}

#last-info .container .last-info-area .little-img .last-info-little-text .write-info span {
  font-size: 18px;
}

#last-info .container .last-info-area .little-img-top {
  margin-bottom: 25.4px;
}

#last-info .container .last-info-area .last-info-area-img {
  overflow: hidden;
}

#last-info .container .last-info-area .last-info-area-img a {
  position: relative;
}

#last-info .container .last-info-area .last-info-area-img a img {
  width: 100%;
  height: 100%;
}

#last-info .container .last-info-area .last-info-area-img .last-info-text {
  position: absolute;
  bottom: 25px;
  left: 30px;
  color: #FFFFFF;
}

#last-info .container .last-info-area .last-info-area-img .last-info-text .head-text {
  width: 425px;
  word-wrap: break-word;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 10px;
}

#last-info .container .last-info-area .last-info-area-img .last-info-text .head-text a {
  color: #FFFFFF;
}

#last-info .container .last-info-area .last-info-area-img .last-info-text .write-info {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

#last-info .container .last-info-area .last-info-area-img .last-info-text .write-info span {
  font-size: 20px;
}

#last-info .container .last-info-area .last-info-area-img .last-info-text .write-info:hover {
  color: #FFFFFF;
}

#last-info .container .last-info-area .last-info-area-img img {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#last-info .container .last-info-area .last-info-area-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#first-info {
  padding-top: 20px;
  padding-bottom: 60px;
}

#first-info .container .section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#first-info .container .section-head p {
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}

#first-info .container .section-head .post-type {
  font-size: 17px;
  font-weight: 600;
  line-height: 50px;
  text-align: right;
  color: #333333;
  position: relative;
  cursor: pointer;
}

#first-info .container .post {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  height: 382px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 10px 40px 0px rgba(142, 142, 142, 0.29);
          box-shadow: 0px 10px 40px 0px rgba(142, 142, 142, 0.29);
  background: #FFFFFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

#first-info .container .post:hover {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(122, 122, 122, 0.651);
          box-shadow: 0px 10px 40px 0px rgba(122, 122, 122, 0.651);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

#first-info .container .post a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#first-info .container .post a .post-img {
  height: 201px;
  overflow: hidden;
}

#first-info .container .post a .post-img img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#first-info .container .post a .post-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#first-info .container .post a .post-info {
  padding: 5px 15px;
}

#first-info .container .post a .post-info .category {
  color: rgba(51, 51, 51, 0.6);
  font-size: 15px;
  font-weight: 600;
  cursor: auto;
}

#first-info .container .post a .post-info .post-head {
  font-size: 21px;
  font-weight: 600;
  color: #333333;
  white-space: nowrap;
  width: 310px;
  overflow: hidden;
}

#first-info .container .post a .post-info .post-text {
  color: rgba(51, 51, 51, 0.6);
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0px;
  height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

#first-info .container .post a .post-info .post-date-user {
  font-size: 15px;
  font-weight: 600;
  color: #333333;
  margin: 10px 0px;
}

#first-info .container .all-post-icon {
  text-align: right;
}

#first-info .container .all-post-icon a {
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.065em;
  color: #333333;
  opacity: 0.7;
}

#first-info .container .all-post-icon a i {
  width: 20px;
}

#first-info .container .all-post-icon a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}

footer {
  background-color: #F1F1F1;
  padding: 35px 0px;
}

footer p.head {
  color: #333333;
  font-weight: 600;
  cursor: pointer;
}

footer p.info {
  color: rgba(51, 51, 51, 0.7);
  font-size: 13px;
  padding-bottom: 15px;
}

footer p.info:hover {
  color: #333333;
}

footer .social ul.socail-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

footer .social ul.socail-logo li a {
  margin-right: 15px;
  color: #ffffff;
}

footer .social ul.socail-logo li a i {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background: #333333;
  color: #ffffff;
}

footer ul li a {
  font-size: 15px;
  font-weight: 400px;
  color: rgba(51, 51, 51, 0.7);
}

footer ul li a:hover {
  color: #333333;
}

#pereloder {
  background-color: #f0f0fc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  visibility: visible;
}

.pereloder-delet {
  opacity: 0 !important;
  visibility: hidden !important;
}

#about {
  padding: 50px 0px 150px 0px;
}

#about .head {
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
}

#about .about-img {
  position: relative;
}

#about .about-img img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: -23px;
  left: -124px;
}

#author {
  padding: 50px 0px;
}

#author .section-head p {
  font-size: 25px;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}

#author .author-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#author .author-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  position: relative;
}

#author .author-form form input {
  width: 224px;
  height: 45px;
  padding-left: 8px;
  border: 1px solid #333333;
  border-radius: 5px;
  outline: none;
  margin-bottom: 15px;
}

#author .author-form form textarea {
  width: 100%;
  padding: 8px 0px 0px 8px;
  border: 1px solid #333333;
  border-radius: 5px;
  outline: none;
  resize: none;
}

#author .author-form form .button {
  position: absolute;
  bottom: 10px;
  right: -207px;
}

#author .author-form form .button button {
  border: 1px solid #59359f;
  color: #59359f;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  height: 40px;
  width: 164px;
  outline: none;
  border-radius: 49px;
  background-color: #FFFFFF;
}

#author .author-form form .button button:hover {
  background-color: #59359f;
  color: #FFFFFF;
}

#author .author-form .form-info {
  width: 50%;
  padding: 0px 45px;
}

@media only screen and (max-width: 768px) {
  #last-info .container .last-info-area .big-img .last-info-text {
    bottom: 15px;
  }
  #last-info .container .last-info-area .big-img .last-info-text .head-text {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 5px;
  }
  #last-info .container .last-info-area .big-img .last-info-text .write-info {
    font-size: 12px;
  }
  #last-info .container .last-info-area .big-img .last-info-text .write-info span {
    font-size: 15px;
  }
  #last-info .container .last-info-area .little-img .last-info-little-text .head-text {
    font-size: 12px;
    line-height: 15px;
    width: 170px;
    margin-bottom: 6px;
  }
  #last-info .container .last-info-area .little-img .last-info-little-text .write-info {
    font-size: 10px;
    line-height: 10px;
  }
  #last-info .container .last-info-area .little-img .last-info-little-text .write-info span {
    font-size: 12px;
  }
  #last-info .container .last-info-area .little-img-top {
    margin-bottom: 22.6px;
  }
  #first-info .container .post a .post-info .post-head {
    width: 265px;
  }
  #about .about-img img {
    top: -8px;
    left: -78px;
  }
}

@media only screen and (max-width: 480px) {
  .row {
    margin: 0px !important;
  }
  #about .about-img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */