*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}


a:hover {
    text-decoration: none;
}
ul{
    list-style: none;
}

body{
    background: #ffffff;
}

.mn-5{
    margin-right: 30px;
}



#head-deskopt{
    .container-head{
        padding: 15px 0px;
        border-bottom: 1px solid #E5E5E5;
        .head-arize{
            height: 33px;
            .refresh{
                font-weight: 1000;
                font-size: 24px;
                line-height: 31.2px;
                color:rgba(89, 53, 159, 1)
            } 
            .logo{
                img{
                    width: 39px;
                    height: 39px;
                    border-radius: 4px;
                    margin-left: calc(350px / 2 - 21.5px);
                }
            }
            .socail-media{
                ul.socail-logo{
                    display: flex;
                    justify-content: flex-end;
                    li{
                        a{
                            margin-right: 15px;
                            color: #ffffff;
                            i{
                                width: 30px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                                border-radius: 50%;
                                background: #59359F;
                                color: #ffffff;
                            }
                        }
                    }
                   
                }
            }
        }
    }
}

#navbar-deskopt{
    position: sticky;
    z-index: 99;
    background: white;
    top: 0;
    ul{
        display: flex;
        justify-content: center;
        li{
            border-top: 3px solid transparent;
            a{
                font-weight: 500;
                font-size: 18px;
                color: #333333;
                line-height: 23.4px;
            }
            a:hover{
                font-weight: 700;
            }
            a.active{
                color: black;
                font-weight: 700;
            }
        }
        li.active{
            border-top: 3px solid #59359F;
        }
    }
    .menu-bars{
        text-align: right;
        padding: 10px 0px;
        i{
            font-size:25px;
            margin-right: 20px;
            color: #482f86;
        }
    }
    .responsive-nav{
        display: block;
        margin-left: 10px;
        .mn-5{
            margin-right:20px; 
        }
        li{
            border-radius: 2px;
            a{
                margin-left: 5px;
                
            }
            &:hover{
                background-color:  #482f86;
                a{
                    color: #FFFFFF;
                    font-weight: 600;
                }
            }
        }
    }
}

#last-info{
    padding: 22px 0px 35px 0px;
    .container{
        p{
            display: inline;
            font-size: 25px;
            font-weight: 600;
            color: rgba(51, 51, 51, 1);
            cursor: pointer;
        }
        .last-info-area{
            overflow: hidden;
            .big-img{
                width: 100%;
                height: auto;
            }
            .little-img{
                width: 100%;
                height: auto;
                position: relative;
                .last-info-little-text{
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    .head-text{
                        font-size: 21px;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        width: 290px;
                        word-wrap: break-word;
                        margin-bottom: 8px;
                        a{
                            color: #FFFFFF;
                        }
                    }
                    .write-info{
                        font-size: 13px;
                        font-weight: 600;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        color: rgba(255, 255, 255, 0.6);
                        &:hover{
                          color: #ffffff;
                        }
                        span{
                            font-size:18px;
                        }
                    }
                }

            }
            .little-img-top{
                margin-bottom: 25.4px;
            }
            .last-info-area-img{
                overflow: hidden;
                a{
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .last-info-text{
                    position: absolute;
                    bottom: 25px;
                    left: 30px;
                    color: #FFFFFF;
                    .head-text{
                        width: 425px;
                        word-wrap: break-word;
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 40px;
                        letter-spacing: 0.02em;
                        text-align: left;
                        margin-bottom: 10px;
                        a{
                            color: #FFFFFF;
                        }
                    }
                    .write-info{
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: 0.02em;
                        color: rgba(255, 255, 255, 0.6);
                        cursor: pointer;
                        span{
                            font-size: 20px;
                        }
                        &:hover{
                            color: #FFFFFF;
                        }
                    }
                }
                img{
                    transition: all 0.2s ease;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

#first-info{
    padding-top: 20px;
    padding-bottom: 60px;
    .container{
        p{
            display: inline;
            font-size: 25px;
            font-weight: 600;
            color: rgba(51, 51, 51, 1);
            cursor: pointer;
        }
        .post{
            display: block;
            width: 100%;
            margin-bottom: 30px;
            height: 382px;
            transition: all 0.3s ease;
            box-shadow: 0px 10px 40px 0px rgba(142, 142, 142, 0.29);
            background: #FFFFFF;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow: hidden;
            &:hover{
                box-shadow: 0px 10px 40px 0px rgba(122, 122, 122, 0.651);
                transform: scale(1.02);
            }
            a{
                transition: all 0.3s ease;
                .post-img{
                    height: 201px;
                    overflow: hidden;
                    img{
                        max-width: 100%;
                        min-width: 100%;
                        height: auto;
                        transition: all 0.3s ease;
                        &:hover{
                             transform: scale(1.1);
                        }
                    }
                }
                .post-info{
                    padding: 5px 15px; 
                    .category{
                        color: rgba(51, 51, 51, 0.6);
                        font-size: 15px;
                        font-weight: 600;
                        cursor: auto;
                    }
                    .post-head{
                        font-size: 21px;
                        font-weight: 600;
                        color: #333333;
                        white-space: nowrap;
                        width: 310px;
                        overflow: hidden;
                    }
                    .post-text{
                        color: rgba(51, 51, 51, 0.6);
                        font-size: 15px;
                        font-weight: 600;
                        margin: 10px 0px;
                        height: 66px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }
                    .post-date-user{
                        font-size: 15px;
                        font-weight: 600;
                        color: #333333;
                        margin: 10px 0px;
                    }
                }
            }
        }
        .all-post-icon{
            text-align: right;
            a{
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: 22px;
                letter-spacing: 0.065em;
                color: rgba(51, 51, 51, 1);
                opacity: 0.7;
                i{
                    width: 20px;
                }
                &:hover{
                    transform: scale(1.1);
                    opacity: 1;
                }
            }
        }
    }
}

footer{
    background-color: #F1F1F1;
    padding: 35px 0px;  
    p.head{
        color: #333333;
        font-weight: 600;
        cursor: pointer;
    }
    p.info{
        color: rgba(51, 51, 51, 0.7);
        font-size: 13px;
        padding-bottom: 15px;
        &:hover {
            color: #333333;
        }
    }
    .social{
        ul.socail-logo{
            display: flex;
            justify-content: start;
            li{
                a{
                    margin-right: 15px;
                    color: #ffffff;
                    i{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 50%;
                        background: rgba(51, 51, 51, 1);
                        color: #ffffff;
                    }
                }
            }
           
        }
    }
    ul{
        li{
            a{
                font-size: 15px;
                font-weight: 400px;
                color: rgba(51, 51, 51, 0.7);
                &:hover {
                    color: #333333;
                }
            }
        }
    }
}

#pereloder{
    background-color: #f0f0fc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    transition: all 0.5s linear;
    display: flex;
    justify-content: center;
    opacity: 1;
    visibility: visible;
}
.pereloder-delet{
    opacity: 0 !important;
    visibility: hidden !important;
}

#about{
    padding: 50px 0px 150px 0px;
    .head{
        font-size: 25px;
        font-weight: 600;
        line-height: 33px;
        text-align: left;
    }
    .about-img{
        position: relative;
        img{
            max-width: 100%;
            height: auto;
            position: absolute;
            top: -23px;
            left: -124px;
        }
    }
}




@media only screen and (max-width: 768px) {
    #last-info{
        .container{
            .last-info-area{
                .big-img{
                    .last-info-text{
                        bottom: 15px;
                        .head-text{
                            font-size: 21px;
                            line-height: 25px;
                            margin-bottom: 5px;
                        }
                        .write-info{
                            font-size: 12px;
                            span{
                                font-size: 15px;
                            }
                        }
                    }
                   
                }
                .little-img{
                    .last-info-little-text{
                        .head-text{
                            font-size: 12px;
                            line-height: 15px;
                            width: 170px;
                            margin-bottom: 6px;
                        }
                        .write-info{
                            font-size: 10px;
                            line-height: 10px;
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                } 
                .little-img-top {
                    margin-bottom: 22.6px;
                }
            }
        }
       
    }

    #first-info .container .post a .post-info .post-head {
        width: 265px;
    }

    #about{
        .about-img{
           img{
                top: -8px;
                left: -78px;
           }
        }
    }
    
}

@media only screen and (max-width: 480px) {
   .row{
       margin: 0px !important;
   } 
 
   #about{
       .about-img{
           display: none;
       }
   }
}
